$font-size: 24px;
div{
    background-color: rgb(9, 209, 179);
    width:fit-content;
    padding:10px;
    margin:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $font-size;
    font-weight: bold;
    border: 3px brown solid;
}